---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - French Tacos LONDON
        . Made with ❤️ by <a
          href="#">French Tacos
          </a
        >.
      </p>
    </div>
  </section>
</footer>
